*#*#
*.#*#
*.a
*.cov
*.exe
*.gcda
*.gcno
*.gcov
*.html
*.i
*.la
*.lo
*.loT
*.o
*.orig
*.pyc
*.rej
*.s
*~
*.cache
*.dir
*.pag
*.fact
*.log
*.cfg
*.db
*.tar
.#*
.deps
.gdb_history
.git
.git-module-status
.libs
.lvimrc
.memdump
.sc-start-sc_
CVS
